img{
    width: 280px;
}
.super-mario{
    position: absolute;
    width: 290px;
}
.goomba{
    position: absolute;
    top: 455px;
    left: 148px;
}
.baloon{
    position: absolute;
    top: 200px;
    left: 600px;
    z-index: 2;
}
.bowser{
    position: absolute;
    z-index: 1;
    width: 400px;
    top: 340px;
    left: 800px;
}
.word{
    position: absolute;
    z-index: 3;
    top: 250px;
    left: 650px;
}